.input-container {

  text-align: center;

}

header {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card {
  
  margin: 10px;
}

input {
  width: 50%;
}